{% extends 'base.html' %}

{% block content %}
    <h1>profile</h1>
    <ul>
    <li>{{user.username}}</li>
    <li>Email:{{user.email}}</li>
    <li>點數:{{user.point}}(認證:送100點
    {% if not user.certification %}
    <a href="">認證</a>
    
    {% endif %}
    </li>   
    </ul>
<a href="">資訊修改</a>
<a href="">點數儲值</a>

<p>已發布專案</p>
{% if user.case_set.all|length == 0 %}
<h2>目前無發布專案</h2>
{% else %}
<div id="cases-table">
    <table border="1">
        <thead>
            <tr>
                <th>日期
                </th>
                <th>標題</th>
                <th>金額</th>
                <th>分類</th>
                <th>檢視</th>
        </thead>
        <tbody>
            {% for case in user.case_set.all %}
            <tr>
                <td>{{case.createdon|date:"Y/m/d"}}</td>
                <td>{{case.title}}</td>
                <td>{{case.amount}}</td>
                <td>{{case.category}}</td>
                <td>{{case.view}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}


<!-- email=models.EmailField(unique=True,null=False)
    point=models.IntegerField(default=0)
    certification=models.BooleanField(default=False)
    city=models.ForeignKey(City,on_delete=SET_NULL,null=True)
    respondent -->