{% extends 'base.html' %}
{% block content %}
    <h1>Cases</h1>
    <div id="cases-table">
        <table border="1">
            <thead>
                <tr>
                    <th>日期
                    </th>
                    <th>標題</th>
                    <th>金額</th>
                    <th>分類</th>
                    <th>檢視</th>
            </thead>
            <tbody>
                {% for case in cases %}
                <tr>
                    <td>{{case.createdon|date:"Y/m/d"}}</td>
                    <td><a href="{% url 'case' case.id %}">{{case.title}}</a></td>
                    <td>{{case.amount}}</td>
                    <td>{{case.category}}</td>
                    <td>{{case.view}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}